In [1]:
# Dalam python, Dictionary disebut juga "mapping". Identik dengan array asosiatif
#Indeks type string
#type data : 1) key; 2) value
#Bentuk umum : variabel = {key1:value1, key2:valve2}

#Contoh
dic ={'Dosen':'Eko', 'Prodi':'Mekatronika','Kuliah':'Python'} #buat variabel

#Menampilkan dictionary:
print("dic['Dosen']:", dic['Dosen'])
print("dic['Prodi']:", dic['Prodi'])
print("dic['Kuliah']:", dic['Kuliah'])

dic['Dosen']: Eko
dic['Prodi']: Mekatronika
dic['Kuliah']: Python

In [2]:
dic ={'Dosen':'Eko', 'Prodi':'Mekatronika','Kuliah':'Python'} #buat variabel
#Menampilkan dictionary:
print("Dosen:", dic['Dosen'])
print("Prodi:", dic['Prodi'])
print("Kuliah:", dic['Kuliah'])

Dosen: Eko
Prodi: Mekatronika
Kuliah: Python

In [3]:
#Variabel Dectionary
dic ={'satu':5, 'dua':10}

#Menampilkan dectionary
print("satu:", dic['satu'])
print("dua:", dic['dua'])

satu: 5
dua: 10

In [4]:
#Variabel Dectionary
dic ={'satu':5, 'dua':10}
print("dic['satu']*dic['dua']:", (dic['satu']*dic['dua']))

dic['satu']*dic['dua']: 50

In [5]:
#Variabel Dectionary
dic ={'satu':5, 'dua':10}

#operasi matematis dictionary
print("satu:", dic['satu'])
print("dua:", dic['dua'])
print("satu * dua:", (dic['satu'] * dic['dua']))
print("satu + dua:", (dic['satu'] + dic['dua']))
print("dua / satu:", (dic['dua'] / dic['satu']))

satu: 5
dua: 10
satu * dua: 50
satu + dua: 15
dua / satu: 2.0

In [6]:
#Menambahkan elemen ke dalam dictionary
dic ={'satu':5, 'dua':10} #sebelum ditambah
dic['tiga'] = 15 #menampilkan elemen key 'tiga' dan valve '15'
print(dic) #menampikal hasil penambahan elemen

{'satu': 5, 'dua': 10, 'tiga': 15}

In [7]:
#Mengubah elemen dalam dictionary
dic ={'satu':5, 'dua':10, 'tiga': 15} #sebelum diubah
dic['dua'] = 20 #mengubah valve '10' menjadi '20'
print(dic)

{'satu': 5, 'dua': 20, 'tiga': 15}

In [8]:
#Menghapus elemen dari dectionary
dic ={'satu':5, 'dua':10, 'tiga': 15} #sebelum dihaous
del dic['dua']
print(dic)

{'satu': 5, 'tiga': 15}

In [9]:
#Sortir Dictionary
D = {'a':1, 'b':2, 'c':3}
print(D)
Ks = list(D.keys())
print(Ks)
Ks.sort()
print(Ks)

for key in Ks:
    print(key,'=', D[key])

{'a': 1, 'b': 2, 'c': 3}
['a', 'b', 'c']
['a', 'b', 'c']
a = 1
b = 2
c = 3

In [11]:
# Dalam python mirip dengan array normal
# Dalam list, elemen tidak diindeks berdasarkan kunci (key) tertentu
# Indeks bilangan selalu diawali dari nilai nol (0)
# Indeks negatif ditentukan dari arah kanan, dandimulai dari -1
# Bentuk umum: nama_list = [nilai1, nilai2, nilai3,...]
#contoh
list = [10, 20, 30, 40, 50]

# Index elemen di dalam list berdasarkan posisi
print('print list')
print(list[0]) #bernilai 10
print(list[2]) #bernilai 30
print(list[4]) #bernilai 50
print(list[-1]) #bernilai 50
print(list[-2]) #bernilai 40
print(list[-5]) #bernilai 10
print('Banyaknya elemen')
print(len(list))

print list
10
30
50
50
40
10
Banyaknya elemen
5

In [13]:
#Contoh
list = [10, 20, 30, 40, 50]

# Slicing (memotong) elemen di dalam list
print('sebelum dipotong:')
print(list)
print('setelah dipotong:')
print(list[:-1]) # memotong elemen pertama dari kanan
print(list[:1]) # memotong elemen
print(list[-1:]) # memotong elemen dari kan kecuali elemen -1
print(list[-2:])
# Tugas berikan penjelas pada slicing

sebelum dipotong:
[10, 20, 30, 40, 50]
setelah dipotong:
[10, 20, 30, 40]
[10]
[50]
[40, 50]

In [14]:
#Contoh
list = [10, 20, 30, 40, 50]

# Penggabungkan elemen list dan membuat daftar list baru
print('sebelum digabung:')
print(list)
print('setelah digabung:')
print(list + [600, 700, 800])

sebelum digabung:
[10, 20, 30, 40, 50]
setelah digabung:
[10, 20, 30, 40, 50, 600, 700, 800]

In [15]:
#pengambilan elemen list menggunakan indeks negatif dapat  ditentukan dengan formula  
#list[-n] = list [len(list) -n]
#contoh
list = [10, 20, 30, 40, 50]
print(len(list)) #berfungsi untuk mengambil jumlah atau banyaknya elemen dalam list

#jika n=-3
list [-3]=list[len(list)-3] #=list[2]
print(list[-3])
print(list[2]) 
#berarti list[-3]=list[2]

5
30
30

In [16]:
#dalam python, bernilai elemen didalam list bisa berasal dari tipe data yang berbeda
#contoh
list = [1, 'Jeruk',2, 'Rambutan', 3, 'Durian']

#menampilkan elemen dalam list
print(list)

#index elemen list
print(list[0])
print(list[1])
print(list[2])
print(list[3])
print(list[4])
print(list[5])

[1, 'Jeruk', 2, 'Rambutan', 3, 'Durian']
1
Jeruk
2
Rambutan
3
Durian

In [17]:
#Nilai elemen dalam list juga berupa list lain
#konsep sama dengan array multidimensional

#contoh
list = [1, 'Takumi', ['Jl.Raya Kodam', 'Cikarang Selatan', 17530], '08111374497']
print(list[2][0])
print(list[2][1])
print(list[2][2])

Jl.Raya Kodam
Cikarang Selatan
17530

In [18]:
#contoh array multidimensional (nesting) dalam bentuk matriks
M = [[1, 2, 3],
     [4, 5, 6],
     [7, 8, 9]]

print('Matriks 3x3')
print(M) #Menampilkan matriks 3x3

print ('Mengambil baris ke-2:')
print(M[1])#menampilkan baris kedua

print('Mengambil baris ke-2,lalu dapatkan item ke-3 didalam baris')
print(M[1][2])
print(M[0][1])
print(M[1][0])
print(M[2][1])
Matrix =((M[0][1]),(M[1][0]), (M[2][1]))
print(Matrix)

Matriks 3x3
[[1, 2, 3], [4, 5, 6], [7, 8, 9]]
Mengambil baris ke-2:
[4, 5, 6]
Mengambil baris ke-2,lalu dapatkan item ke-3 didalam baris
6
2
4
8
(2, 4, 8)

In [19]:
#list comprehension expression
#membuat matriks
M = [[1, 2, 3],
     [4, 5, 6],
     [7, 8, 9]]

print('Matriks 3x3')
print(M)

#tambahkan 1 untuk setiap item didalam kolom 2
M1= [row[1]+1 for row in M]
print('Hasil penambahan 1 untuik setiap item di kolom 2')
print(M1)

#menyaring item data pada matriks
print('Matriks 3x3 sebelum penyaringan data:')
print(M)
M2=[row[1]for row in M if row[1]%2==0]
print('data matriks yang telah disaring pada kolo ke-2')
print(M2)

M3= [row[0] for row in M if row[1]%2==0]
print('Data matriks yang telah ddisaring pada kolom ke-1')
print(M3)

#mengumpulkan diagonal dari matriks 
print('Matriks 3x3:')
print(M)
diag=[M[i][i]for i in [0, 1, 2]]
print('bentuk diagonal matriks')
print(diag)

Matriks 3x3
[[1, 2, 3], [4, 5, 6], [7, 8, 9]]
Hasil penambahan 1 untuik setiap item di kolom 2
[3, 6, 9]
Matriks 3x3 sebelum penyaringan data:
[[1, 2, 3], [4, 5, 6], [7, 8, 9]]
data matriks yang telah disaring pada kolo ke-2
[2, 8]
Data matriks yang telah ddisaring pada kolom ke-1
[1, 7]
Matriks 3x3:
[[1, 2, 3], [4, 5, 6], [7, 8, 9]]
bentuk diagonal matriks
[1, 5, 9]

In [20]:
#menambah elemen ke dalam list
#membuat list
kota = ['Jakarta','Bandung','Semarang']
print('elemen awal:')
print(kota)

#menggunakan metode append();untuk menambah elemen tunggal dibagian akhir list
kota.append('Surabaya')
print('\nsetelah append():')
print(kota)

#menggunakan metode insert();untuk menambah elemen tunggal di indeks/posisi tertentu
kota.insert(1,'Yogyakarta')
print('\nsetelah insert():')  
print(kota)

#menggunakan metode extend(); untuk menyambung atau menggabungkan suatu list dengan list lainnya
kota.extend (['Medan', 'Denpasar'])
print('n\setelah extend():')
print(kota)

elemen awal:
['Jakarta', 'Bandung', 'Semarang']

setelah append():
['Jakarta', 'Bandung', 'Semarang', 'Surabaya']

setelah insert():
['Jakarta', 'Yogyakarta', 'Bandung', 'Semarang', 'Surabaya']
n\setelah extend():
['Jakarta', 'Yogyakarta', 'Bandung', 'Semarang', 'Surabaya', 'Medan', 'Denpasar']

In [21]:
# Mengubah Nilai Elemen di dalam List

#membuat List
hewan =['ayam', 'kucing', 'tikus']
print("Sebelum diubah:")
print(hewan)

#mengubah nilai elemen List
hewan[1]='ular'
hewan [-1]='buaya'

#menampilkan hasil perubahan
print('\nSetelah diubah:')
print(hewan)

Sebelum diubah:
['ayam', 'kucing', 'tikus']

Setelah diubah:
['ayam', 'ular', 'buaya']

In [22]:
#Menghapus Elemen dari List
#membuat List
negara= ['Indonesia', 'Singapura', 'Malaysia', 'Thailand', 'Vietnam', 'India']
print('Sebelum dihapus:')
print(negara)

#menggunakan remove(); menghapus elemen List berdasarkan nilainya
#bentuk umum: nama_variabel.remove()
negara.remove('Singapura')
negara.remove('Vietnam')

#menampilkan hasil setelah dihapus dgn metode remove()
print('\nSetelah dihapus dgn metode remove():')
print(negara)

#menggunakan del[]; menghapus elemen List berdasarkan indeksnya
#Bentuk umum: del nama variabel [indeks]
del negara [2]
del negara [-2]

#menampilkan hasil setelah dihapus dengan metode del []
print('\nSetelah dihapus dgn metode del[]:')
print(negara)

#menggunakan metode clear(); menghapus seluruh elemen di dalam List
print(len(negara))
negara.clear()
print(len(negara))

Sebelum dihapus:
['Indonesia', 'Singapura', 'Malaysia', 'Thailand', 'Vietnam', 'India']

Setelah dihapus dgn metode remove():
['Indonesia', 'Malaysia', 'Thailand', 'India']

Setelah dihapus dgn metode del[]:
['Indonesia', 'India']
2
0

In [23]:
#Mencari Elemen di dalam List
#menggunakan metode index()
#bentuk umum: nama List.index(nilai)
#membuat List
buah= ['pepaya', 'mangga', 'pisang', 'jambu']
print(buah)

#mencari elemen List
#bentuk umum: nama variabel.index('nilai atau elemen yg akan diindeks')
print('pepaya berada pada indeks ke-')
print(buah.index('pepaya'))
print('jambu berada pada indeks ke-')
print(buah.index('jambu'))

['pepaya', 'mangga', 'pisang', 'jambu']
pepaya berada pada indeks ke-
0
jambu berada pada indeks ke-
3

In [24]:
#Menyusun data dalam List menggunakan metode sort() dan reverse()
#membuat List
L= ['bb', 'aa', 'cc']

#menggunakan metode sort()
print('Data list awal:')
print(L)
print('Setelah di sort:')
L.sort()
print(L)

# menggunakan metode reverse()
print('Data list:')
print(L)
print('Setelah di reverse:')
L.reverse()
print(L)

Data list awal:
['bb', 'aa', 'cc']
Setelah di sort:
['aa', 'bb', 'cc']
Data list:
['aa', 'bb', 'cc']
Setelah di reverse:
['cc', 'bb', 'aa']

In [25]:
#Mengulang karakter dalam sebuah string

#membuat List
list= ['Politeknik', 'Takumi', 'Hebat']
print('Data list:')
print(list)
print('Mengulang karakter pada item Takumi sebanyak 2 kali')
doubles =[c * 2 for c in 'Takumi']
print(doubles)
doubles1= [c * 3 for c in 'Takumi']
print(doubles1)

Data list:
['Politeknik', 'Takumi', 'Hebat']
Mengulang karakter pada item Takumi sebanyak 2 kali
['TT', 'aa', 'kk', 'uu', 'mm', 'ii']
['TTT', 'aaa', 'kkk', 'uuu', 'mmm', 'iii']

In [26]:
# Type Tuple adalah List yang tidak dapat diubah
# Tuple sebenarnya mirip dengan array konstan
# Bentuk umum Tuple menggunakan tanda kurung: nama tuple (nilai1, nilai2, nilai3,...)

#Contoh:
hari =('Minggu', 'Senin', 'Selasa', 'Rabu', 'Kamis', 'Jumat', 'Sabtu')
print(type(hari))

#menampilkan hari
print(hari)
print(hari[0])
print(hari[2])
print(hari[5])

<class 'tuple'>
('Minggu', 'Senin', 'Selasa', 'Rabu', 'Kamis', 'Jumat', 'Sabtu')
Minggu
Selasa
Jumat

In [28]:
#Contoh operasi pada Tuple
T=(1, 2, 3, 4) # terdapat 4 item pada Tuple

print(T) # menampilkan item pada Tuple
print(len(T)) # menampilkan banyaknya item pada Tuple atau Length
print(T+ (5, 6)) # Penggabungan
print(T[0]) # menampilkan item pada indeks 8
print(T.index(4)) # menampilkan item pada indeks 4
print(T.count(4)) # menghitung item bernilai 4 pada tuple

T1 =('Takumi', 4.0, [11, 22, 33])
print(T1) # menampilkan item pada tuple T1
print(T1[1])
print(T1[2][1])

(1, 2, 3, 4)
4
(1, 2, 3, 4, 5, 6)
1
3
1
('Takumi', 4.0, [11, 22, 33])
4.0
22

In [29]:
#Bentuk umum Tuple menggunakan tanpa tanda kurung: nama tuple nilail, nilai2, nilai3,..
hari = 'Minggu', 'Senin', 'Selasa', 'Rabu', \
'Kamis', 'Jumat', 'Sabtu'
print(type (hari))

#menampilkan hari
print(hari)
print(hari[0])
print(hari[2])
print(hari[5])

<class 'tuple'>
('Minggu', 'Senin', 'Selasa', 'Rabu', 'Kamis', 'Jumat', 'Sabtu')
Minggu
Selasa
Jumat

In [30]:
#Tuple didefinisikan menggunakan tanda kurung(), bukan bracket[]
#Tuple yang dibuat tanpa tanda kurung perlu menggunakan tanda backslash (1) untuk menyambung baris perintah pertama dan kedua
#Beberapa hal yang perlu diperhatikan sengenai tuple
hari= ('Minggu', 'Senin', 'Selasa', 'Rabu', 'Kamis', 'Jumat', 'Sabtu')
print('Data Tuple')
print(hari)

#Tuple diindeks menggunakan bilangan dan diawali dart e
print('indeks positif:')
print(hari[0]) # indeks positif

#Indeks negatif pada tuple dapat digunakan dan 1 selalu menunjukkan elemen terakhir
print('indeks negatif:')
print(hari[-1]) # indeks negatif

Data Tuple
('Minggu', 'Senin', 'Selasa', 'Rabu', 'Kamis', 'Jumat', 'Sabtu')
indeks positif:
Minggu
indeks negatif:
Sabtu

In [31]:
# Tuple tidok memiliki metode oppend()

hari =('Minggu', 'Senin', 'Selasa', 'Rabu', 'Kamis', 'Jumat', 'Sabtu')
print('Data Tuple awal')
print(hari)
hari.append('Hari Libur')
print('\nSetelah append():')
print(hari)

Data Tuple awal
('Minggu', 'Senin', 'Selasa', 'Rabu', 'Kamis', 'Jumat', 'Sabtu')

AttributeError: 'tuple' object has no attribute 'append'

In [32]:
# Elemen Tuple tidak dapat diubah
# membuat tuple

hari =('Minggu', 'Senin', 'Selasa', 'Rabu', 'Kamis', 'Jumat','Sabtu')
print('Data Tuple awal')
print(hari)
# mengubah nilai elemen tuple
hari[0]='Ahad'
# menampilkan hasil perubahan
print('\nSetelah diubah:')
print(hari)

Data Tuple awal
('Minggu', 'Senin', 'Selasa', 'Rabu', 'Kamis', 'Jumat', 'Sabtu')

TypeError: 'tuple' object does not support item assignment

In [33]:
#Tuple tidak memiliki metode remove()
#membuat List
hari =('Minggu', 'Senin', 'Selasa', 'Rabu', 'Kamis', 'Jumat', 'Sabtu')
print('Data Tuple awal')
print(hari)

#menggunakan remove() pada Tuple
hari.remove('Senin')

#menampilkan hasil setelah dihapus dgn metode remove()
print('\nSetelah dihapus dgn metode remove():')
print(hari)

Data Tuple awal
('Minggu', 'Senin', 'Selasa', 'Rabu', 'Kamis', 'Jumat', 'Sabtu')

AttributeError: 'tuple' object has no attribute 'remove'

In [34]:
#Tuple memiliki metode indeks()
hari =('Minggu', 'Senin', 'Selasa', 'Rabu', 'Kamis', 'Jumat', 'Sabtu')
print('Data Tuple')
print(hari)
print(hari[3])
indeks=hari.index('Rabu')
print(indeks)

Data Tuple
('Minggu', 'Senin', 'Selasa', 'Rabu', 'Kamis', 'Jumat', 'Sabtu')
Rabu
3

In [35]:
#Tuple menggunakan operator "in" digunakan untuk memeriksa apakah termasuk item pada tuple atau tidak
hari= ('Minggu', 'Senin', 'Selasa', 'Rabu', 'Kamis', 'Jumat', 'Sabtu')
print('Data Tuple')
print(hari)
print('Selasa pada item Tuple')
print('Selasa' in hari)
print('Ahad pada item Tuple')
print('Ahad' in hari)

Data Tuple
('Minggu', 'Senin', 'Selasa', 'Rabu', 'Kamis', 'Jumat', 'Sabtu')
Selasa pada item Tuple
True
Ahad pada item Tuple
False

In [36]:
#membuat Kalender
import datetime as dt

#Tuple untuk nama bulan
BULAN =('Januari', 'Februari', 'Maret', 'April', 'Mei', 'Juni', 'Juli', 'Agustus', 'September', 'Oktober', 'November', 'Desember')

#Today akan berisi: 'YYYY-MM-DD'
today = dt.date.isoformat(dt.date.today())
yyyy = today [4]
mm =today [5:7]
dd = today [8:]
print(today)
print('%s %s %s' % (dd, BULAN[int(mm)-1], yyyy))

#Penjelasan:
#metode isoformat() dari kelas date yang tersimpan didalam modul datetime berfungsi untuk mengembalikan tanggal yang dilewatkan sehingga argumen dalam format 'YY-MM-DD'
#Tanggal saat ini dapat diperoleh dengan memanggil metode today() dari kelas date.
#pada kode diatas digunakan tuple untuk menyimpan nama-nama bulan

2025-10-06
06 Oktober -